<!DOCTYPE html>
<html>
<head>
	<title>P5LIVE – sketch</title>
	<meta charset="utf-8">
	<!-- Compiled w/ P5LIVE, http://github.com/ffd8/p5live -->
	<script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/addons/p5.sound.min.js"></script>
	<style type="text/css">
	body{
		margin:0;
		overflow:hidden;
		background:#000;
	}
	canvas{
		position:fixed;
		top:0;
		left:0;
		z-index:-1;
		width:100vw;
		height:100vh;
		margin:0;
	}
</style>
<script type="text/javascript">
	var credits = {
		"names" : [
			"first.lastname" // link to website if you have it <a href="URL" target="_blank">first.lastname</a>
			,"first.lastname"
			]
			,"class" : "MA / MDes"
			,"description" : "Your description goes here...."
		}

	function saveFrame(toolName){
		let timestamp = (new Date()).toISOString().replace(/[^0-9]/g, '').slice(0, -3);
		var filename = toolName + '_' + timestamp + '.png'; // with timestamp
		//var filename = toolName + '.png'; // without timestamp
		save(filename);  // use to save entire canvas
		// layer.save(filename); // use to save specific layer only
	}

	function setup() {
		createCanvas(windowWidth, windowHeight);
		noStroke()
	}

	function draw() {
		let fc = map(mouseX, 0, width, 0, 255)
		background(255 - fc, 10);
		textSize(width / 10);
		fill(fc);
		text("i'm a template..\nreplace index.html!", 25, 25, width, height);
	}

	/* CUSTOM FUNCTIONS FOR P5LIVE */
// keep fullscreen if window resized
function windowResized() {
	resizeCanvas(windowWidth, windowHeight);
}

// custom ease function
function ease(iVal, oVal, eVal){
	let targetX = iVal;
	let dx = targetX - oVal; 
	return oVal += dx * eVal;
}
</script>

</head>
<body>

</body>
</html>